:root {
  --primary-color   : #0D9488;
  --secondary-color : #64748B;
  --success-color   : #0EA5E9;
  --info-color      : #0EA5E9;
  --warning-color   : #F97316;
  --danger-color    : #DC2626;
  --help-color      : #9333EA;
  --header-height   : 8vh;
}
